<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>
<body>
<div class="alert alert-danger">
  <span th:text="${User.username}"> </span> <span> already exists !</span>
</div>
<div class="">
  <a class="btn btn-success mx-2 p-2" role="button" href="/register">Sign up</a><a class="btn btn-success mx-2 p-2" role="button" href="/login">Login</a>
</div>
</body>
</html>